<mat-toolbar class="mat-elevation-z10" color="primary" >
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Proyecto Angular 15</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/inicio">Home</button>
  <button [matMenuTriggerFor]="lvlmaster" mat-button >Procesos</button>
  <mat-menu #lvlmaster="matMenu">
    <button mat-menu-item>Simulacion</button>
    <button mat-menu-item>Distribucion</button>
    <button [matMenuTriggerFor]="reporteria" mat-menu-item>Reporteria</button>
  </mat-menu>
  <mat-menu #reporteria="matMenu">
    <button mat-menu-item>Distribucion</button>
    <button mat-menu-item>Consolidado</button>
    <button mat-menu-item>Comision e IVA</button>
  </mat-menu>

  <button *ngIf="rol==='admin'" mat-button routerLink="/nominacion">Nominacion</button>
  <button *ngIf="rol==='admin'" mat-button routerLink="/contact">Contact</button>
  <button *ngIf="userLoginOn" (click)="logout()" mat-raised-button color="warn" routerLink="/login">Logout</button>
  <button mat-icon-button (click)="checked()">
    <mat-icon matBadge="5" [matBadgeHidden]="visibleBadge" matBadgeColor="warn">sms</mat-icon>
  </button>
</mat-toolbar>
