<footer class="jumbotron bg-cover text-white text-center" >
  <div class="container py-2 ">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eos cupiditate iure numquam voluptate porro omnis illo quibusdam vel. Dolorum quod cupiditate quae officiis voluptatem dolore fugit rerum, nisi pariatur.
    </p>
  </div>
  <div class="text-center mb-2">
    <a href="" class="text-white me-4">
      <i class="fa fa-facebook-f"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-facebook-f"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-google"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="" class="text-white me-4">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</footer>

